:root {
  --basic: #030a1b;
  --active: #fe753f;
  --btn: #2e6eff;
}
html {
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #ffffff;
  position: relative;
  display: block;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: var(--basic);
}
.wrapper {
  min-height: 100%;
}
.hide {
  display: none;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px auto;
}
.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 250px;
  height: auto;
}
.logo__link {
  cursor: pointer;
  transition: all 0.4s;
}
.logo__link:hover {
  opacity: 0.8;
}
.logo-media {
  width: 100%;
  height: 100%;
}
.active-navbar {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  text-align: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__item {
  margin-right: 45px;
}
.menu__link {
  padding: 5px;
  opacity: 0.7;
  transition: all 0.4s;
}
.menu__link:hover {
  color: var(--active);
}
.menu__link:active {
  color: var(--active);
  font-weight: 600;
  opacity: 1;
}
.header-btn {
  color: #fff;
}
.btn__contact {
  padding: 15px 30px;
  background: var(--btn);
  color: #fff;
  border-radius: 5px;
  white-space: nowrap;
  text-decoration: none;
}
.btn__contact:hover {
  background: #4880ff;
  color: #fff;
}
.btn__contact:active {
  background: #0854ff;
  color: #fff;
}

/* whithtabs */
.withtabs {
  margin: 70px 0 100px 0;
}
.container-withtabs {
  position: relative;
}
.withtabs__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}
.withtabs__info {
  max-width: 560px;
}
.withtabs__info-headline {
  font-weight: 600;
  font-size: 61px;
  line-height: 73px;
  margin-bottom: 30px;
  padding-top: 45px;
}

.withtabs-media {
  width: 485px;
  height: 615px;
  overflow: hidden;
}
.withtabs-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.withtabs-tabs {
  /* display: none; */
  position: absolute;
  top: 412px;
  /* left: 15px; */
}

.tabs {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.tabs-head {
  display: flex;
  height: 40px;
  width: 260px;
  background: #ffffff;
  box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
  border-radius: 0px 5px 5px 5px;
}

.tab {
  transition: all 0.3s;

  opacity: 0.7;
  border-radius: 5px 5px 0px 0px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 15px;
  text-align: center;
  padding: 15px 35px;
  background: #ffffff;
  box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
}
.tabs-head .tab.active {
  opacity: 1;
  color: #fe753f;
}
.tab-block {
  opacity: 1;
}

.tab.active a {
  opacity: 1;
}

.cont-filter {
  box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.tabs-content {
  display: none;
}
.tabs-content.active {
  display: block;
}

/* filter */
.tabs-content {
  width: 842px;
}

.filter {
  display: grid;
  grid-template-columns: 170px 240px 240px 1fr;
  border-radius: 0 5px 5px 5px;
}

.block-filter {
  position: relative;
  margin-bottom: 10px;
}
.block-filter__button {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.block-filter__header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.block-filter__type {
  opacity: 0.7;
  margin-right: 10px;
}
.block-filter__icon {
  background: url('../images/down.svg') center bottom no-repeat;
  width: 10px;
  height: 10px;
  transition: all 0.3s;
}
.block-filter__icon._active-filter {
  transform: rotate(180deg);
}

.block-filter__dropdown {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.2s;

  top: 80px;
  left: 27px;
  color: #ffffff;
}
.block-filter__dropdown._active-filter {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(5px);
}
.block-filter__item {
  background: #4880ff;
  padding: 2px 7px;
  margin: 2px 0;
  border-radius: 5px;
}

.block-filter__item:hover {
  background: var(--btn);
}
.filter__btn {
  margin: auto 0;
  padding: 0 30px;
}
.filter__btn__inner {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: var(--btn);
  border-radius: 10px;
  transition: all 0.3s;
}
.filter__btn__inner:hover {
  background: #4880ff;
}
.filter__btn button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.filter__btn-icon {
  width: 12px;
  height: 13px;
}
/* section partners */

.container-partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-letter {
  background: url('../images/first__leeter.svg') 0px 46px no-repeat;
}
.partners__heading {
  padding: 0 7px;
  margin: 50px 0 65px 0;
  font-weight: 600;
  font-size: 44px;
  line-height: 66px;
  text-align: center;
}

.partners__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 70px;
  flex-flow: wrap;
}

/* popular  */

.container-propertis .first-letter {
  background: url('../images/first__leeter.svg') 0px 46px no-repeat;
}
.heading {
  padding: 0 15px;
  margin: 50px 0 65px 0;
  font-weight: 600;
  font-size: 44px;
  line-height: 66px;
}
.propertis__headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.propertis__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  white-space: nowrap;

  color: var(--active);
  transition: all 0.3s;
}
.propertis__link:hover {
  color: #ed4401;
}

.propertis__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 140px;
  justify-self: center;
}
.propertis-card {
  background: #ffffff;
  box-shadow: 0px 8px 70px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  min-width: 360px;
  max-width: 500px;
  margin: 0 auto;
}
.card__media {
  width: 100%;
  height: 320px;
  overflow: hidden;
  margin-bottom: 30px;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.card__info {
  display: grid;
  grid-template-rows: 40px 30px 30px 40px;
  gap: 10px;
  background: #ffffff;
  margin: 30px;
}
.card__head {
  display: grid;
  grid-template-columns: 1fr 21px;
  align-items: self-start;
}
.card-headen {
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
}
.card-headen__heart {
  width: 16px;
  height: 14px;
  margin-top: 2px;
}
.icon {
  fill: #bbbbbb;
}
.icon-active {
  fill: #e61e14;
}
.heart-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__info-location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  opacity: 0.7;
}
.location-media {
  width: 11px;
  height: 15px;
}

.card__info-filling {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.filling-bedroom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}
.bedroom-media {
  width: 16px;
  height: 12px;
}

.filling-kitchen {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.kitchen-media {
  width: 14px;
  height: 15px;
}

.filling-bathroom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.bathroom-media {
  width: 14px;
  height: 15px;
}

.card__info-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.total-price {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: var(--active);
}
.total-btn {
  padding: 10px 20px;
  gap: 10px;
  background: var(--btn);
  border-radius: 5px;
  color: #ffffff;
}
.total-btn:hover {
  background: #4880ff;
}
.total__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  transition: all 0.4s;
}
/* #BBBBBB */
/* feature */
.feature {
  background: #f9f9f9;
}

.container-feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature__heading {
  margin-bottom: 10px;
}
.feature-text {
  text-align: center;
  opacity: 0.7;
  max-width: 800px;
  margin-bottom: 70px;
}
.feature__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 30px;
  align-items: self-end;
  padding-bottom: 70px;
}
.feature-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}
.feature__card {
  background: #ffffff;
  border-radius: 10px;
  padding: 25px;
}
.card__icon {
  margin-bottom: 15px;
}
.feature-info-head {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 10px;
}

.card__feature-info p {
  opacity: 0.7;
}
.feature-media {
  width: 360px;
  height: 550px;
}
.feature-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Reviews */
.reviews {
  padding: 140px 0 110px 0;
}
.reviews-info {
  text-align: center;
}
.review span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--active);
  transition: all 0.3s;
  padding: 5px;
}
.review span:hover {
  color: #ed4401;
}

.review__heading {
  margin: 10px 0 70px 0;
}
.review__headline {
  background: url(../images/first__leeter.svg) 252px -3px no-repeat;
}

.block {
  padding: 30px;
  width: 560px;
  background: #ffffff;
  border: 2px solid rgba(254, 117, 63, 0.1);
  border-radius: 10px;
  margin-right: 30px;
}

.block-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.block-about-self {
  display: flex;
  align-items: center;
}
.block-media {
  margin-right: 30px;
  width: 75px;
  height: 75px;
}
.block-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block-name {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 5px;
}

.slick-slider {
  min-width: 0;
}
.slick-track {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}
.slick-list {
  overflow: hidden;
}
.slick-slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.slick-slider .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background: #ededed;
  border-radius: 50%;
}
.slick-slider .slick-dots li.slick-active button {
  background: #2e6eff;
}
/* слайдер */
.slick-slider {
  position: relative;
}
.slick-slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
}
.slick-slider .slick-arrow.slick-prev {
  left: 0;
}
.slick-slider .slick-arrow.slick-next {
  right: 0;
}
/* form */
.form {
  z-index: 5;
}

.form-container {
  position: relative;
  background: #433e89;
  border-radius: 10px;
  padding: 70px 200px;
}
.form-info {
  margin-bottom: 70px;
  text-align: center;
  color: #ffffff;
}
.form-head {
  font-weight: 500;
  font-size: 44px;
  line-height: 60px;
  margin-bottom: 15px;
}
.form-text {
  opacity: 0.7;
  max-width: 635px;
  margin: 0 auto;
}
.form-inner {
  position: relative;
  padding: 20px 30px;
  width: 735px;
  background: #ffffff;
  border-radius: 10px;
}
.form-inner input {
  opacity: 0.5;
}
.form-btn {
  position: absolute;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  padding: 16px 40px;
  background: var(--btn);
  border-radius: 10px;
  right: 4px;
  bottom: 4px;
  transition: all 0.3s;
}
.form-btn:hover {
  background: #4880ff;
}
.radius {
  position: absolute;
  width: 208px;
  height: 104px;
  background: #ffffff;
  border: 1px solid inherit;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  opacity: 0.1;
  z-index: 50;
}
.radius-1 {
  right: 15px;
  bottom: -36px;
}
.radius-2 {
  left: -115px;
  top: 55px;
  transform: rotate(90deg);
}
/* footer */
.footer {
  margin: 140px;
}
.footer__inner {
  display: grid;
  grid-template-columns: 250px 1fr 1fr 1fr;
}

.logo-footer {
  margin-bottom: 25px;
}

.footer-logo-social-slogan {
  opacity: 0.7;
  max-width: 270px;
  margin-bottom: 25px;
  font-family: 'DM Sans', sans-serif;
}
.footer-social {
  display: flex;
  align-items: center;
  gap: 5px;
}
.social-icon a {
  padding: 5px;
}
.footer__blog {
  /* padding: 0px 45px; */
  margin: 0 auto;
}

.footer__head {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 20px;
  padding: 5px;
}
.footer__link {
  padding: 5px;
}
.footer__item {
  margin-bottom: 15px;
  font-weight: 500;
  line-height: 17px;
  text-transform: capitalize;
  opacity: 0.7;
}
.footer-address {
  /* padding: 0 40px; */
  font-weight: 400;
  white-space: nowrap;
}
.footer-address .mono {
  font-weight: 400;
}

.menu-toggles {
  visibility: hidden;
  position: absolute;
}
.hamb {
  display: none;
}
.popup {
  display: none;
}

/* media */
@media (max-width: 1203px) {
  .container {
    padding: 0 50px;
  }
  .withtabs__inner {
    gap: 50px;
  }
  .withtabs__info {
    max-width: 500px;
  }
  .withtabs__info-headline {
    font-size: 55px;
  }
  .withtabs-media {
    width: 455px;
    height: auto;
  }
  .propertis__inner {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .slick-slide {
    width: 500px;
    min-height: 300px;
  }
  .block {
    padding: 20px;
    margin-right: 20px;
  }
  .slick-slider .slick-dots {
    margin-top: 20px;
  }
  .review__headline {
    background: none;
  }
  .form {
    padding: 0 10px;
  }
  .form-container {
    padding: 50px;
  }
  .form-inner {
    margin: 0 auto;
  }
  .footer {
    margin: 75px 0;
    padding: 10px;
  }
}
@media (max-width: 1150px) {
  .menu {
    flex-wrap: wrap;
  }
  .menu__item {
    margin-right: 15px;
    margin-bottom: 5px;
  }
  .logo {
    margin-right: 75px;
  }
  .withtabs__inner {
    justify-content: space-evenly;
    gap: 20px;
  }
  .withtabs-media {
    width: 400px;
  }
  
  .withtabs__info {
    max-width: 440px;
  }
  .withtabs__info-headline {
    font-size: 45px;
    padding-top: 0;
  }
  .reviews {
    padding: 75px 0 75px 0;
  }
}
@media (max-width: 1100px) {
  .feature__inner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 550px 1fr;
    grid-template-areas:
      'feature-media feature-media'
      'feature-left feature-right';
    gap: 20px;
    align-items: self-start;
  }
  .feature-media {
    grid-area: feature-media;
  }
  .feature-left {
    grid-area: feature-left;
  }
  .feature-right {
    grid-area: feature-right;
  }
  .feature-media {
    width: 370px;
    margin: 0 auto;
  }
}
@media (max-width: 980px) {
  .withtabs-media {
    width: 350px;
  }
  .withtabs__info-headline {
    line-height: 50px;
    font-size: 35px;
  }
  .withtabs__info {
    max-width: 370px;
  }
  .partners__inner {
    gap: 35px;
  }
  .heading {
    font-size: 33px;
    margin: 25px 0 25px 0;
  }
  .tabs-content {
    width: 750px;
  }
  .filter {
    grid-template-columns: 170px 195px 195px 195px;
  }
  .withtabs-tabs {
    top: 300px;
  }
  .footer__inner {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 50px;
    gap: 25px;
  }
  .footer__blog {
    margin: 0;
  }
  .footer-about,
  .footer-products {
    margin: 0 auto;
  }
  .footer-logo-social-slogan {
    margin-right: 10px;
  }
  .container-propertis .first-letter {
    background: none;
  }
}
@media (max-width: 850px) {
  .btn__contact {
    padding: 15px;
    font-size: 14px;
  }

  .propertis__inner {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .withtabs {
    margin: 20px 0 50px 0;
  }
  .withtabs__inner {
    flex-direction: column;
    align-items: center;
  }
  .withtabs-media {
    width: 365px;
  }
  .withtabs__info {
    max-width: 550px;
    margin-bottom: 40px;
    text-align: center;
  }
  .withtabs__info-headline {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .withtabs-tabs {
    position: static;
    padding-top: 30px;
    font-size: 14px;
    width: fit-content;
    margin: 0 auto;
  }
  .feature-column {
    gap: 15px;
  }
  .form-head {
    font-size: 33px;
    line-height: 40px;
  }
  .form-info {
    padding: 25px 15px;
    margin-bottom: 0;
  }
  .form-inner {
    min-width: 300px;
    width: 100%;
  }

  .form-btn {
    padding: 16px 20px;
  }
  .block-filter__button {
    padding: 10px;
  }
  .filter__btn__inner {
    padding: 10px;
  }

  .tabs-content {
    width: 525px;
  }
  .filter {
    grid-template-columns: 120px 150px 145px 102px;
  }
  .filter__btn {
    padding: 0;
  }
  .block-filter__dropdown {
    left: 0;
  }
  .tab {
    font-size: 14px;
    line-height: 27px;
    padding: 15px 25px;
  }
  .tabs-head {
    height: 38px;
  }

  /* burger */
  .navbar {
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
  }
  .menu {
    margin: 0 auto;
    display: none;
    flex-direction: column;
    visibility: hidden;
    top: 80px;
    left: 90px;
    width: 100%;
    height: 90%;
    margin: -90px;
    padding: 80px 0;
    list-style: none;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
    flex-direction: column;
    justify-content: center;
  }
  .hamb {
    display: flex;
    align-items: center;
    position: absolute;
    top: 45px;
    right: 45px;
    z-index: 500;
  }

  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background: var(--basic);
    transition: 0.2s;
  }
  .menu__item {
    margin-right: 0;
  }
  .menu__link {
    display: block;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .popup {
    position: fixed;
    display: flex;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 200;
    transition: 0.3s;
  }
  .popup.open {
    left: 0;
    top: 190;
  }
  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    overflow: auto;
    visibility: visible;

    margin: -75px auto;
  }
  .popup .menu > li {
    width: 100%;
  }
  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  .popup .menu > li > a:hover {
    background: rgba(122, 82, 179, 0.1);
  }
  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }
  .hamb__field.active .bar:nth-child(3) {
    top: 0;
    transform: translateY(-13px) rotate(-45deg);
  }
  body.noscroll {
    overflow: hidden;
  }
  /* the end burger */
  .container-header {
    justify-content: stretch;
  }
}
@media (max-width: 710px) {
  .feature__inner {
    grid-template-columns: 1fr;
    grid-template-rows: 550px 1fr 1fr;
    grid-template-areas:
      'feature-media'
      'feature-left'
      'feature-right';
  }
  .feature-text {
    margin-bottom: 30px;
  }
  .footer__inner {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 35px;
    padding: 0 10px;
  }
  .footer-products {
    margin: 0;
  }
  .footer-address {
    margin: 0 auto;
  }
  .footer-social {
    gap: 5px;
  }
  .social-icon {
    width: 20px;
    height: auto;
  }
}
@media (max-width: 632px) {
  .container {
    padding: 0 20px;
  }
  .container-header {
    margin: 20px auto;
  }
  .header-btn {
    display: none;
  }
  .logo {
    width: 200px;
  }
  .hamb {
    top: 30px;
    right: 10px;
  }
  .form .form-container {
    padding: 0 20px 30px 20px;
  }
  .form-inner {
    padding: 15px 15px;
  }
  .form-btn {
    padding: 11px 15px;
  }
}

@media (max-width: 560px) {
  .filter {
    padding: 5px;
    grid-template-columns: 135px 135px;
    grid-template-rows: 95px 95px;
    gap: 10px;
  }
  .tabs-content {
    width: 350px;
  }
  .block-filter__dropdown {
    left: 5px;
    top: 52px;
  }
  .block-filter__item {
    padding: 0px 3px;
    margin: 2px 0;
    font-size: 14px;
  }
  .filter__btn {
    justify-self: center;
    margin-top: 10px;
  }
  .filter__btn__inner {
    width: 100px;
  }
}
@media (max-width: 472px) {
  .quotes-media {
    width: 50px;
    height: 50px;
  }
  .block-text {
    font-size: 14px;
  }
  .block-about {
    gap: 10px;
  }

  .footer__inner {
    padding: 0 5px;
    gap: 40px;
  }
}

@media (max-width: 380px) {
  .container {
    padding: 0 5px;
  }
}
